<!DOCTYPE html>
<html lang="fr">
       <head>
            <meta charset="utf-8">
            <title>Accord Energie</title>
             <link rel="stylesheet" href="style.css">
        </head>
        <header>
        {% block header}{% endblock %}
         </header>
        <body>
             {% block body %}{% endblock %}
        </body>
    </html>