{% extends "base_auth.html.twig" %}

{% block header %}  
<div class ="admin">
     <h2><a href="admin.php" style="color: white; text-decoration: none;">ACCORD-ENERGIE</a></h2>
    <a href="suivies.php">SUIVIES</a>
    <a href="urgences.php">URGENCES</a>
    <a href="utilisateurs.php">UTILISATEURS</a>
    <a href='chat.php?' class="chat"><img src='images/chat.jpg' ></a>
    <a onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?')" href="deconnexion.php">DECONNEXION</a>
    <img src='photo/{{ photo }}' class="photo">
</div>
{% endblock %}

{% block body %}


<img class="logo" src='images/Logo.jpg'>
{% endblock %}