{% extends "base_auth.html.twig" %}

{% block header %}  
<div class ="admin">
    <h2>ACCORD-ENERGIE</h2>
    <a href="mesdemandes.php" >MES DEMANDES</a>
    <a href='chat.php?' class="chat"><img src='images/chat.jpg' ></a>
    <a onclick="return confirm('Êtes vous sûr de vouloir vous déconnecter ?')" href="deconnexion.php">DECONNEXION</a>
    <img src='photo/{{ photo }}' class="photo">
</div>
{% endblock %}

{% block body %}
<div class = "edit_container">
    
    <div class = "edit_title">
        {{ oneint.nom_intervention }}
    </div>

    <div class = "edit_body">
        {{ oneint.details_intervention }}
    </div>

</div>
        <button type="submit">Enregistrer</button>
    
{% endblock %}
