{% extends "base_auth.html.twig" %}

{% block header %}  
<div class ="admin">
           <h2><a href="standardiste.php" style="color: white; text-decoration: none;">ACCORD-ENERGIE</a></h2>
    <a href="encour.php">ALL INTERVENTIONS EN COURS</a>
    <a href="seeclients.php">CLIENTS</a>
    <a onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?')" href="deconnexion.php">DECONNEXION</a>
    <img src='photo/{{ photo }}' class="photo">
</div>
{% endblock %}

{% block body %}
<div class="edit_container">
    {% if msg %}
        <div class="success">{{ msg }}</div>
    {% endif %}
    <form action="addstd.php" method="POST">
        <div class="edit_title">
            <input type="text" id="nom_intervention" name="nom_intervention" placeholder ="Titre...." required>
        </div>

        <div class="edit_body">
            <textarea id="details_intervention" name="details_intervention" placeholder ="Détails..." required></textarea>
        </div>
        
        <button type="submit" name="add" class="edit_button">ADD</button>
    </form>
</div>
<img class="logo" src='images/Logo.jpg'>
{% endblock %}
