{% extends "base_auth.html.twig" %}
{% block body %}
     <h1>Créer votre compte></h1>
      <form action="" method="post">
      <label for="email">Email</label>
      <input
            type="email"
            name="email"
            id="email"
            placeholder="Entrez votre email"
            />
            </div>

       <div>
      <label for="password_cfg">Mot </label>
       <input
           type="password"
            name="password_cdg"
            id="password_cfg"
            placeholder="Comfirmez votre mot de passe"
            />
            </div>

            <div>
            <input type="submit" name="send" value="seconnecter" />
            </div>
        </form>
        <p>
     <a href="index.php">Déja un compte? </a>
     </p>
{% endblock %}