{% extends "base_auth.html.twig" %}


{% block body %}
    <div class="container">
    <div class="pic"></div>
    <form action="" method="post" class = "form_connect">
    <h2>Connectez-vous pour en voir plus</h2>

        
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="E-mail" required><br><br>


        
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Mot de passe" required><br><br>
            
            <p><input type="submit" value="Se connecter" name = "send" class = "btn_connexion"></p>
        
        <p>Pas encore inscrit ? <a href="register.php">Inscrivez-vous ici</a></p>
    </form></div>

{%endblock %}